<div class="container">
    <h1>Adding order</h1>

    <div class="bd-example">
        <form name="addOrder" ng-submit="vmOrder.save(addOrder.$valid)" novalidate>
            <div class="form-group col-md-6">
                <label>Дата создания заказа <input
                        ng-class="{'err': addOrder.crtDate.$invalid && addOrder.crtDate.$dirty}" name="crtDate"
                        type="date" ng-model="vmOrder.order.createDate" required
                        class="form-control input-medium"></label>
            </div>
            <div class="form-group col-md-6">
                <label>Имя менеджера
                    <select ng-model="vmOrder.order.manager" class="form-control input-medium" name="manager"
                            ng-class="{'err': addOrder.manager.$invalid && addOrder.manager.$dirty}" required>
                        <option value="Ivanov">Ivanov</option>
                        <option value="Sidorov">Sidorov</option>
                        <option value="Manager">Manager</option>
                    </select>
                </label>
            </div>
            <div class="form-group col-md-6">
                <label>Тип заказа
                    <select ng-model="vmOrder.order.type" class="form-control input-medium" name="type"
                            ng-class="{'err': addOrder.type.$invalid && addOrder.type.$dirty}" required>
                        <option value="opt">опт</option>
                        <option value="roznica">розница</option>
                    </select>
                </label>
            </div>
            <div class="form-group col-md-6"><label>Заказчик <input type="text" name="customer"
                                                                    ng-class="{'err': addOrder.customer.$invalid && !addOrder.customer.$pristine}"
                                                                    ng-model="vmOrder.order.customer"
                                                                    class="form-control input-medium" required></label>
            </div>
            <div class="form-group col-md-6"><label>Поставщик <input type="text" name="provider"
                                                                     ng-class="{'err': addOrder.provider.$invalid && !addOrder.provider.$pristine}"
                                                                     ng-model="vmOrder.order.provider"
                                                                     class="form-control input-medium" required></label>
            </div>
            <div class="form-group col-md-6"><label>Дата выполнения заказа <input type="date" name="completeDate"
                                                                                  ng-class="{'err': addOrder.completeDate.$invalid && !addOrder.completeDate.$pristine}"
                                                                                  ng-model="vmOrder.order.completeDate"
                                                                                  class="form-control input-medium"
                                                                                  required></label></div>
            <button type="submit" class="btn btn-primary ">Add</button>
        </form>
    </div>
    <a ui-sref="order-list" class="btn btn-default">cancel</a>
</div>